.app {
  font-family: sans-serif;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

.product-img {
  height: 150px;
  width: 150px;
}

.pagination-container {
  padding: 20px;
}

.page-number {
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.active {
  background-color: aquamarine;
}