body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 14px;
}

td,
th {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  text-align: start;
}

th {
  vertical-align: top;
}

.pagination {
  display: flex;
  gap: 12px;
  font-size: 14px;
}

.pages {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
